[ColorScheme]
active_colors={{ .Theme.OnSurface | toHex }}, {{ .Theme.SurfaceVariant | toHex }}, {{ (tone .Theme.Neutral 95) | toHex }}, {{ (tone .Theme.Neutral 70) | toHex }}, {{ (tone .Theme.Neutral 30) | toHex }}, {{ (tone .Theme.Neutral 50) | toHex }}, {{ .Theme.OnSurface | toHex }}, {{ (tone .Theme.Neutral 95) | toHex }}, {{ .Theme.OnSurface | toHex }}, {{ .Theme.Surface | toHex }}, {{ .Theme.SurfaceVariant | toHex }}, {{ (tone .Theme.Neutral 20) | toHex }}, {{ (tone .Theme.Primary 80) | toHex }}, {{ (tone .Theme.Primary 20) | toHex }}, {{ (tone .Theme.Secondary 80) | toHex }}, {{ (tone .Theme.Tertiary 80) | toHex }}, {{ (tone .Theme.Neutral 80) | toHex }}, {{ .Theme.OnSurface | toHex }}, {{ (tone .Theme.Neutral 10) | toHex }}, {{ (tone .Theme.Neutral 95) | toHex }}, {{ (tone .Theme.Neutral 30) | toHex }}