* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
}

window#waybar {
  background-color: {{  toRgba (tone .Theme.Tertiary 10) "0.3"  }};
}

#battery.good {
  color: {{ .Theme.OnSurface | toHex }};
}

#battery.warning {
  color: #ff9900; /* Orange when <30% */
}

#battery.critical {
  color: #ff0000; /* Red when <10% */
}


#workspaces {
    margin: 5px;
    background-color: {{ .Theme.SurfaceVariant | toHex }};
    border-radius: 1px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: {{ .Theme.OnSurface | toHex }};
    border-radius: 1px;
}

#workspaces button:hover {
    background: {{ toRgba (tone .Theme.Primary 80) "0.3" }};
}

#workspaces button.focused {
    background-color: {{ (tone .Theme.Primary 80) | toHex }};
    box-shadow: inset 0 -3px {{ (tone .Theme.Primary 40) | toHex }};
    color: {{ (tone .Theme.Primary 20) | toHex }};
}

#workspaces button.active {
    color: {{ (tone .Theme.Primary 20) | toHex }};
}

#workspaces button.empty {
    color: {{ toRgba .Theme.OnSurfaceVariant "0.5" }};
}


#memory, #cpu, #battery, #clock, #pulseaudio, #custom-brightness,
#bluetooth, #network, #mpris, #tray, #disk, #custom-expand-icon {
    background-color: {{ .Theme.SurfaceVariant | toHex }};
    color: {{ .Theme.OnSurface | toHex }};
    padding: 6px;
    margin: 5px;
    border-radius: 1px;
    min-width: 18px;
    min-height: 24px;
}

#custom-spotify,
#custom-chrome,
#custom-firefox,
#custom-neovim,
#custom-obsidian,
#custom-zed {
    background: transparent;
    color: {{ .Theme.OnSurface | toHex }};
    padding: 6px;
    margin: 5px;
    min-width: 18px;
    min-height: 24px;
    font-size: 16px;
}
