/* GTK3 Theme */
@define-color bg_color #000000;
@define-color fg_color #e2e2e2;
@define-color base_color #464646;
@define-color text_color #c6c6c6;
@define-color selected_bg_color #ff945f;
@define-color selected_fg_color #6f0000;
@define-color tooltip_bg_color #303030;
@define-color tooltip_fg_color #e2e2e2;

window {
  background-color: @bg_color;
  color: @fg_color;
}

button {
  background-color: @base_color;
  color: @text_color;
  border: 1px solid #5e5e5e;
}

button:hover {
  background-color: #ffbc8e;
}

entry {
  background-color: @base_color;
  color: @text_color;
  border: 1px solid #5e5e5e;
}
