/* Firefox Chrome Theme */
:root {
  --toolbar-bgcolor: #000000 !important;
  --toolbar-color: #e2e2e2 !important;
  --tab-selected-bgcolor: #ff945f !important;
  --tab-selected-color: #6f0000 !important;
  --urlbar-background-color: #464646 !important;
  --urlbar-color: #e2e2e2 !important;
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
}

.tabbrowser-tab[selected="true"] {
  background-color: var(--tab-selected-bgcolor) !important;
  color: var(--tab-selected-color) !important;
}

#urlbar {
  background-color: var(--urlbar-background-color) !important;
  color: var(--urlbar-color) !important;
}
