* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
}

window#waybar {
  background-color: rgba(27, 27, 27, 0.3);
}

#battery.good {
  color: #e2e2e2;
}

#battery.warning {
  color: #ff9900; /* Orange when <30% */
}

#battery.critical {
  color: #ff0000; /* Red when <10% */
}


#workspaces {
    margin: 5px;
    background-color: #464646;
    border-radius: 1px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #e2e2e2;
    border-radius: 1px;
}

#workspaces button:hover {
    background: rgba(198, 198, 199, 0.3);
}

#workspaces button.focused {
    background-color: #c6c6c7;
    box-shadow: inset 0 -3px #5e5e5f;
    color: #303030;
}

#workspaces button.active {
    color: #303030;
}

#workspaces button.empty {
    color: rgba(198, 198, 198, 0.5);
}


#memory, #cpu, #battery, #clock, #pulseaudio, #custom-brightness,
#bluetooth, #network, #mpris, #tray, #disk, #custom-expand-icon {
    background-color: #464646;
    color: #e2e2e2;
    padding: 6px;
    margin: 5px;
    border-radius: 1px;
    min-width: 18px;
    min-height: 24px;
}

#custom-spotify,
#custom-chrome,
#custom-firefox,
#custom-neovim,
#custom-obsidian,
#custom-zed {
    background: transparent;
    color: #e2e2e2;
    padding: 6px;
    margin: 5px;
    min-width: 18px;
    min-height: 24px;
    font-size: 16px;
}
